<html>
    <style>
        body{
            background-color: #E9FAFF;
        }
        .bookshelf {
    margin: 10px auto;
    border: 3px solid #A6D3E8;
    width: 550px;
    height: 150px;
    background: #FEF9EF;
    margin-top:100px;
    margin-right:350px;
    
}
.innershelf {
    margin-top:30px;

    margin-left:70px;

}
    </style>
    <body>
        <div class="bookshelf">
            <div class="innershelf">
                1. 神话版三国<a href="/novel{{novels[0].url}}">{{novels[0].title}}</a><br>
                2. 特拉福买家俱乐部<a href="/novel{{novels[1].url}}">{{novels[1].title}}</a><br>
                3. 镇妖博物馆<a href="/novel{{novels[2].url}}">{{novels[2].title}}</a><br>
            </div>
         </div>
    </body>

</html>

